# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# Logs
# =========================
*.log

# =========================
# Cache 
# =========================
cache.json

# =========================
# Data 
# =========================
data/
*.pdf
*.png
*.jpg
*.jpeg

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# outputs
notebooks/outputs/
results/
output.json
notebooks/student_transcriptions.json
student_transcriptions.json
notebooks/outputs/
*.log