# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# Logs
# =========================
*.log

# =========================
# Cache 
# =========================
cache.json

# =========================
# Data 
# =========================
data/
*.pdf
*.png
*.jpg
*.jpeg
*.json

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db